* {
  margin: 0;
  color: white;
}

.section, .container {
  height: 100vh;
  background: url('/green_field.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  scroll-snap-align: center;
}

.container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* to hide scrollbar: */
  overflow-y: auto;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}